/*design des taches */

.tache{
	border: 1px solid  #479CD9!important; 
	background-color:  #ffff!important;
}

.fini{
	border: 1px solid  #2AA198!important; 
	background-color:  #ffff!important;
}

.trash-color{
	color:#FF0000;
}

.bg-color{
	background-color:  #EEEEEE!important;
}

.form-control {
	background-color: #fff!important;
}

.fa-check-circle{
	color: #2AA198!important;
}

.fas, .fa{
	cursor: pointer;
}

.rond{
	border-radius: 2em;
}
