/*design des taches */

.tache{
	border: 1px solid  #479CD9!important; 
	background-color:  #ffff!important;
}

.fini{
	border: 1px solid  #2AA198!important; 
	background-color:  #ffff!important;
}

.trash-color{
	color:#FF0000;
}

.bg-color{
	background-color:  #EEEEEE!important;
}

.form-control {
	background-color: #fff!important;
}

.fa-check-circle{
	color: #2AA198!important;
}

.fas, .fa{
	cursor: pointer;
}

.rond{
	border-radius: 2em;
}

.btnAction{
	padding: 3px 8px;
	font-size: calc(0.5em + 0.6vw) !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
	.card-header, .btnAjouter, .modal-title, #warningModal, #warning, #warningModalMod{
		font-size: calc(0.9em + 2vw) !important;
	}
	p, .fas, .fa, label, input, select, #closeMod, #closeAdd{
		font-size: calc(0.7em + 2vw) !important;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.card-header, .btnAjouter,.modal-title, #warningModal, #warning, #warningModalMod{
		font-size: calc(0.7em + 2vw) !important;
	}
	p, .fas, .fa, label, input, select, #closeMod, #closeAdd{
		font-size: calc(0.5em + 2vw) !important;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.card-header, .btnAjouter,.modal-title, #warningModal, #warning, #warningModalMod{
		font-size: calc(0.5em + 1vw) !important;
	}
	p, .fas, .fa, label, input, select, #closeMod, #closeAdd{
		font-size: calc(0.3em + 0.8vw) !important;
	}
}
